* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: white;
color: #000;
}

header {
background: radial-gradient(circle at 30% 40%, #8eefff 20%, transparent 40%),
radial-gradient(circle at 80% 30%, #529aff 20%, transparent 50%),
radial-gradient(circle at 10% 10%, #ffd54f 20%, transparent 50%),
linear-gradient(135deg, #a76cf2, #fcb045, #ff4081);
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 20px;
font-weight: bold;
color: white;
}

nav a {
margin: 0 15px;
text-decoration: none;
color: white;
font-weight: 500;
}

nav{
display: flex;
justify-content: center;
flex-grow: 1;
gap: 80px;
}

main {
padding: 60px 40px;
}

.content {
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
}

.text h1 {
font-size: 2.3rem;
font-weight: 800;
line-height: 1.5;
margin-bottom: 20px;
}

.text{
margin-left: 30px;
}

h1{
width: 800px;
}

.advantages p {
margin: 8px 0;
font-size: 1.2  rem;
}

button {
margin-top: 20px;
padding: 10px 20px;
background: #000;
color: white;
border: none;
border-radius: 20px;
font-size: 1rem;
cursor: pointer;
}

.images {
margin-top: 50px;
margin-right: 80px;
position: relative;
width: 470px;
height: 470px;
}

.img1, .img2 {
width: 270px;
border: 3px solid #ddd;
border-radius: 20px;
box-shadow: 0 6px 12px rgba(0,0,0,0.1);
background: white;
position: absolute;
padding: 10px;
}

.img1 {
top: 0;
left: 0;
z-index: 2;
}

.img2 {
bottom: 0;
right: 0;
z-index: 1;
}


.fade-in {
opacity: 0;
transform: translateY(30px);
transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
opacity: 1;
transform: translateY(0);
}


.images .img1,
.images .img2 {
opacity: 0;
transform: translateY(-50px) translateX(-50px);
transition: all 1.5s ease;
}

.images .img2 {
transform: translateY(50px) translateX(50px);
}

.images.animate-in .img1,
.images.animate-in .img2 {
opacity: 1;
transform: translate(0, 0);
}
